.git
.github
node_modules
npm-debug.log
vendor
.env
.env.testing
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
bootstrap/cache/*.php
*.md
docker-compose*.yml
tests
.phpunit.result.cache
phpunit.xml
.circleci
docs
